<!-- CAROUSEL -->

<body>
    <div id="carouselExampleIndicators" class="carousel slide carousel-fade " data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
                <div class="overlay-image" style="background-image:url(/assets/images/ecommercewebpage-pana.png);">
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <div class="overlay-image" style="background-image:url(/assets/images/Retailmarkdownbro.png);"></div>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
                <div class="overlay-image" style="background-image:url(/assets/images/Successfulpurchasepana.png);">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <mat-spinner *ngIf="isLoading" class="mt-5"></mat-spinner>


    <div class="container mt-5">
        <div class="row">
            <mat-card class="col-md-4" *ngFor="let product of products; index as i;">

                <img mat-card-image class="product-image" src="{{product?.image}}" alt="Product image">
                <mat-card-content>
                    <h4>
                        <a [routerLink]="['/product', product?.id, product?.title]"
                            [queryParams]="{desc: product?.description}">{{product?.title}}</a>
                    </h4>
                    <p>
                        {{product?.price}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button >BUY NOW</button>
                    <button >ADD TO CART</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

</body>