.checkout{
    margin-top: 80px;
}

.example-form {
    // min-width: 500px;
    // max-width: 500px;
    width: 100%;
  }

  .example-half-width {
    width: 45.5%;
    margin-right: 40px;
  }

  .example-full-width {
    width: 100%;
  }

  .example-margin {
    margin: 0 12px;

  }

  .btn{
    float: right;
  }

  p{
    color: #716e6e;
    font-size: 35px;
    margin-top: 35px;
    margin-bottom: 10px;
  }

  h1{
    margin-top: 0px;
  }
